In [50]:
%matplotlib inline
from __future__  import print_function, division
import numpy as np
from math import *
import pandas as pd
from pandas import DataFrame
from pandas.tools.plotting import scatter_matrix
from geopandas import GeoDataFrame
#import matplotlib.pylab as plt
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
import geopandas as gp
import zipfile
import glob
import pylab as pl
import statsmodels.api as sm
import os

In [51]:
SAT = pd.read_csv(os.getenv("PUIDATA")+ "/" + 'SAT_Results .csv')

In [52]:
SAT.head()

,DBN,SCHOOL NAME,SAT Critical Reading Avg. Score,SAT Math Avg. Score,SAT Writing Avg. Score
0,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,355,404,363
1,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,383,423,366
2,01M450,EAST SIDE COMMUNITY SCHOOL,377,402,370
3,01M458,FORSYTH SATELLITE ACADEMY,414,401,359
4,01M509,MARTA VALLE HIGH SCHOOL,390,433,384

In [53]:
SAT.head()

,DBN,SCHOOL NAME,SAT Critical Reading Avg. Score,SAT Math Avg. Score,SAT Writing Avg. Score
0,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,355,404,363
1,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,383,423,366
2,01M450,EAST SIDE COMMUNITY SCHOOL,377,402,370
3,01M458,FORSYTH SATELLITE ACADEMY,414,401,359
4,01M509,MARTA VALLE HIGH SCHOOL,390,433,384

In [54]:
SAT['SAT Total'] = SAT['SAT Critical Reading Avg. Score'] + SAT['SAT Math Avg. Score'] + SAT['SAT Writing Avg. Score']

In [55]:
SAT.head()

,DBN,SCHOOL NAME,SAT Critical Reading Avg. Score,SAT Math Avg. Score,SAT Writing Avg. Score,SAT Total
0,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,355,404,363,1122
1,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,383,423,366,1172
2,01M450,EAST SIDE COMMUNITY SCHOOL,377,402,370,1149
3,01M458,FORSYTH SATELLITE ACADEMY,414,401,359,1174
4,01M509,MARTA VALLE HIGH SCHOOL,390,433,384,1207

In [56]:
obs = SAT['SAT Total']

In [57]:
obs.std()

174.53612282892178

In [58]:
print(len(SAT))

421

In [59]:
obs.mean()

1208.2042755344419

In [60]:
top_per = SAT[SAT['SAT Total']> (1208.2 + 174.5)]
top_per

,DBN,SCHOOL NAME,SAT Critical Reading Avg. Score,SAT Math Avg. Score,SAT Writing Avg. Score,SAT Total
6,01M539,"NEW EXPLORATIONS INTO SCIENCE, TECHNOLOGY AND ...",522,574,525,1621
8,01M696,BARD HIGH SCHOOL EARLY COLLEGE,624,604,628,1856
21,02M376,NYC ISCHOOL,473,483,479,1435
23,02M400,HIGH SCHOOL FOR ENVIRONMENTAL STUDIES,465,493,461,1419
24,02M407,INSTITUTE FOR COLLABORATIVE EDUCATION,492,465,467,1424
25,02M408,PROFESSIONAL PERFORMING ARTS HIGH SCHOOL,509,490,523,1522
26,02M411,BARUCH COLLEGE CAMPUS HIGH SCHOOL,496,563,518,1577
27,02M412,N.Y.C. LAB SCHOOL FOR COLLABORATIVE STUDIES,537,590,550,1677
28,02M413,SCHOOL OF THE FUTURE HIGH SCHOOL,517,533,515,1565
29,02M414,N.Y.C. MUSEUM SCHOOL,468,492,459,1419
30,02M416,ELEANOR ROOSEVELT HIGH SCHOOL,572,594,592,1758
31,02M418,MILLENNIUM HIGH SCHOOL,528,553,533,1614
41,02M475,STUYVESANT HIGH SCHOOL,679,735,682,2096
44,02M519,TALENT UNLIMITED HIGH SCHOOL,469,472,475,1416
51,02M545,HIGH SCHOOL FOR DUAL LANGUAGE AND ASIAN STUDIES,412,581,431,1424
54,02M560,HIGH SCHOOL M560 s CITY AS SCHOOL,498,440,477,1415
55,02M565,URBAN ACADEMY LABORATORY HIGH SCHOOL,527,508,512,1547
73,03M479,BEACON HIGH SCHOOL,577,575,592,1744
74,03M485,FIORELLO H. LAGUARDIA HIGH SCHOOL OF MUSIC & A...,566,564,577,1707
78,03M541,MANHATTAN / HUNTER SCIENCE HIGH SCHOOL,473,506,467,1446
81,04M435,MANHATTAN CENTER FOR SCIENCE AND MATHEMATICS,461,514,455,1430
95,05M692,"HIGH SCHOOL FOR MATHEMATICS, SCIENCE AND ENGIN...",605,654,588,1847
142,09X260,BRONX CENTER FOR SCIENCE AND MATHEMATICS,459,480,457,1396
175,10X445,BRONX HIGH SCHOOL OF SCIENCE,632,688,649,1969
182,10X696,HIGH SCHOOL OF AMERICAN STUDIES AT LEHMAN COLLEGE,636,648,636,1920
220,13K430,BROOKLYN TECHNICAL HIGH SCHOOL,587,659,587,1833
229,13K670,BENJAMIN BANNEKER ACADEMY,471,472,448,1391
233,14K449,"BROOKLYN LATIN SCHOOL, THE",586,584,570,1740
275,17K590,MEDGAR EVERS COLLEGE PREPARATORY SCHOOL,476,481,479,1436
313,21K525,EDWARD R. MURROW HIGH SCHOOL,468,496,467,1431
320,22K405,MIDWOOD HIGH SCHOOL,478,519,476,1473
323,22K535,LEON M. GOLDSTEIN HIGH SCHOOL FOR THE SCIENCES,524,561,542,1627
335,24Q299,BARD HIGH SCHOOL EARLY COLLEGE II,545,568,550,1663
344,25Q252,"QUEENS SCHOOL OF INQUIRY, THE",455,498,443,1396
347,25Q285,WORLD JOURNALISM PREPARATORY: A COLLEGE BOARD ...,471,489,481,1441
351,25Q525,TOWNSEND HARRIS HIGH SCHOOL,621,651,638,1910
355,26Q415,BENJAMIN N. CARDOZO HIGH SCHOOL,480,545,489,1514
356,26Q430,FRANCIS LEWIS HIGH SCHOOL,468,539,467,1474
358,26Q495,BAYSIDE HIGH SCHOOL,462,523,464,1449
365,27Q323,SCHOLARS' ACADEMY,499,537,496,1532
374,28Q440,FOREST HILLS HIGH SCHOOL,456,497,454,1407
378,28Q680,QUEENS GATEWAY TO HEALTH SCIENCES SECONDARY SC...,513,523,502,1538
379,28Q687,QUEENS HIGH SCHOOL FOR THE SCIENCES AT YORK CO...,612,660,596,1868
394,30Q501,FRANK SINATRA SCHOOL OF THE ARTS HIGH SCHOOL,504,496,494,1494
397,30Q575,ACADEMY OF AMERICAN STUDIES,487,492,491,1470
398,30Q580,BACCALAUREATE SCHOOL FOR GLOBAL EDUCATION,524,568,544,1636
401,31R080,THE MICHAEL J. PETRIDES SCHOOL,472,488,466,1426
405,31R455,TOTTENVILLE HIGH SCHOOL,462,486,470,1418
406,31R460,SUSAN E. WAGNER HIGH SCHOOL,455,474,459,1388
409,31R605,STATEN ISLAND TECHNICAL HIGH SCHOOL,635,682,636,1953

In [61]:
print(len(top_per))

50

In [62]:
SAT1 = pd.read_csv(os.getenv("PUIDATA")+ "/" + 'SAT_Results .csv')

In [64]:
print(len(SAT1))

421

In [66]:
SAT1['SAT Total'] = SAT1['SAT Critical Reading Avg. Score'] + SAT1['SAT Math Avg. Score'] + SAT1['SAT Writing Avg. Score']

In [67]:
high_per = SAT1[SAT1['SAT Total']< (1208.2 + 174.5)]
high_per

,DBN,SCHOOL NAME,SAT Critical Reading Avg. Score,SAT Math Avg. Score,SAT Writing Avg. Score,SAT Total
0,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,355,404,363,1122
1,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,383,423,366,1172
2,01M450,EAST SIDE COMMUNITY SCHOOL,377,402,370,1149
3,01M458,FORSYTH SATELLITE ACADEMY,414,401,359,1174
4,01M509,MARTA VALLE HIGH SCHOOL,390,433,384,1207
5,01M515,LOWER EAST SIDE PREPARATORY HIGH SCHOOL,332,557,316,1205
7,01M650,CASCADES HIGH SCHOOL,417,418,411,1246
9,02M047,47 THE AMERICAN SIGN LANGUAGE AND ENGLISH SECO...,395,400,387,1182
10,02M288,FOOD AND FINANCE HIGH SCHOOL,409,393,392,1194
11,02M294,ESSEX STREET ACADEMY,394,384,378,1156
12,02M296,HIGH SCHOOL OF HOSPITALITY MANAGEMENT,374,375,362,1111
13,02M298,PACE HIGH SCHOOL,423,438,432,1293
14,02M300,URBAN ASSEMBLY SCHOOL OF DESIGN AND CONSTRUCTI...,404,449,416,1269
15,02M303,"FACING HISTORY SCHOOL, THE",353,358,340,1051
16,02M305,"URBAN ASSEMBLY ACADEMY OF GOVERNMENT AND LAW, THE",375,388,385,1148
17,02M308,LOWER MANHATTAN ARTS ACADEMY,403,392,405,1200
18,02M313,"JAMES BALDWIN SCHOOL, THE: A SCHOOL FOR EXPEDI...",408,390,390,1188
19,02M316,URBAN ASSEMBLY SCHOOL OF BUSINESS FOR YOUNG WO...,373,370,384,1127
20,02M374,GRAMERCY ARTS HIGH SCHOOL,391,391,394,1176
22,02M394,EMMA LAZARUS HIGH SCHOOL,319,512,357,1188
32,02M419,LANDMARK HIGH SCHOOL,390,399,381,1170
33,02M420,HIGH SCHOOL FOR HEALTH PROFESSIONS AND HUMAN S...,429,449,428,1306
34,02M425,LEADERSHIP AND PUBLIC SERVICE HIGH SCHOOL,416,426,391,1233
35,02M429,LEGACY SCHOOL FOR INTEGRATED STUDIES,356,357,349,1062
36,02M439,MANHATTAN VILLAGE ACADEMY,441,473,458,1372
37,02M440,BAYARD RUSTIN EDUCATIONAL COMPLEX,378,365,368,1111
38,02M449,VANGUARD HIGH SCHOOL,395,416,388,1199
39,02M459,MANHATTAN INTERNATIONAL HIGH SCHOOL,376,460,391,1227
40,02M460,WASHINGTON IRVING HIGH SCHOOL,373,387,360,1120
42,02M489,HIGH SCHOOL OF ECONOMICS AND FINANCE,443,489,442,1374
...,...,...,...,...,...,...
384,29Q265,EXCELSIOR PREPARATORY HIGH SCHOOL,402,398,402,1202
385,29Q272,GEORGE WASHINGTON CARVER HIGH SCHOOL FOR THE S...,436,427,424,1287
386,29Q283,PREPARATORY ACADEMY FOR WRITERS: A COLLEGE BOA...,370,367,363,1100
387,29Q492,"MATHEMATICS, SCIENCE RESEARCH AND TECHNOLOGY M...",400,426,394,1220
388,29Q494,"LAW, GOVERNMENT AND COMMUNITY SERVICE HIGH SCHOOL",385,377,377,1139
389,29Q496,"BUSINESS, COMPUTER APPLICATIONS & ENTREPRENEUR...",379,414,359,1152
390,29Q498,HUMANITIES & ARTS MAGNET HIGH SCHOOL,393,381,377,1151
391,30Q301,ACADEMY FOR CAREERS IN TELEVISION AND FILM,410,440,405,1255
392,30Q445,WILLIAM CULLEN BRYANT HIGH SCHOOL,414,449,412,1275
393,30Q450,LONG ISLAND CITY HIGH SCHOOL,403,420,395,1218
395,30Q502,INFORMATION TECHNOLOGY HIGH SCHOOL,407,434,398,1239
396,30Q555,NEWCOMERS HIGH SCHOOL,323,475,329,1127
399,31R047,CSI HIGH SCHOOL FOR INTERNATIONAL STUDIES,452,451,450,1353
400,31R064,GAYNOR MCCOWN EXPEDITIONARY LEARNING SCHOOL,398,412,385,1195
402,31R440,NEW DORP HIGH SCHOOL,424,437,416,1277
403,31R445,PORT RICHMOND HIGH SCHOOL,424,438,417,1279
404,31R450,CURTIS HIGH SCHOOL,437,435,429,1301
407,31R470,CONCORD HIGH SCHOOL,466,455,414,1335
408,31R600,RALPH R. MCKEE CAREER AND TECHNICAL EDUCATION ...,416,422,397,1235
410,31R607,YOUNG ADULT BOROUGH CENTER AT STATEN IS TECH HS,405,375,370,1150
411,32K403,ACADEMY FOR ENVIRONMENTAL LEADERSHIP,380,366,352,1098
412,32K545,EBC HIGH SCHOOL FOR PUBLIC SERVICE���BUSHWICK,384,409,361,1154
413,32K549,BUSHWICK SCHOOL FOR SOCIAL JUSTICE,348,353,334,1035
414,32K552,ACADEMY OF URBAN PLANNING,342,364,354,1060
415,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,428,465,422,1315
416,32K556,BUSHWICK LEADERS HIGH SCHOOL FOR ACADEMIC EXCE...,347,358,350,1055
417,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,359,317,358,1034
418,75Q811,P.S. Q811,429,444,433,1306
419,79Q950,GED PLUS s CITYWIDE,496,400,426,1322
420,79X490,PHOENIX ACADEMY,367,370,360,1097

In [68]:
print(len(high_per))

371

In [69]:
os.system("high_per" + os.getenv("PUIDATA"))

32512